name: Integration

on: [push, pull_request]

env:
  RUSTFLAGS: "-D warnings"
  RUSTDOCFLAGS: "-D warnings"
  RUST_BACKTRACE: "1"
  RUST_VERSION: "1.89.0"

jobs:    
  capture-traces: 
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/cache@v4
        id: cache-artifacts
        continue-on-error: false
        with:
          path: |
            riscv-samples/bin
            riscv-samples/traces
          key: ci-integration-samples-${{ hashFiles('riscv-samples/src/*', 'riscv-samples/cfg/*') }}
          restore-keys: ci-integration-cargo-
      - name: build and capture
        if: steps.cache-artifacts.outputs.cache-hit != 'true'
        run: |
          cd risc-v-sim
          cargo build
          cd ..
          cp risc-v-sim/target/debug/risc-v-sim ./riscv-samples
          docker run --rm --mount type=bind,src=./riscv-samples,dst=/ws krinkin/rv64-toolchain:latest make capture
      - name: Upload traces
        uses: actions/upload-artifact@v4
        with:
          name: traces
          path: ./riscv-samples/traces/*.json
  run-tests:
    runs-on: ubuntu-24.04
    container: krinkin/rv64-toolchain
    needs: [capture-traces]
    steps:    
      # Required by the openssl crate
      # https://docs.rs/openssl/latest/openssl/#automatic
      - name: Install OpenSSL and pkgconf
        run: | 
          apt-get update 
          apt-get install -y pkg-config libssl-dev
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/cache@v4
        id: cache-build
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.rustup
            target/
          key: ci-integration-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ci-integration-cargo-
      - name: Download Rust toolchain and build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: |
          apt-get update
          apt-get install -y curl
          curl -O https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init
          chmod +x rustup-init
          ./rustup-init -y --no-modify-path --default-toolchain $RUST_VERSION
      - name: Build RiscV sim
        run: |
          export PATH=~/.cargo/bin:$PATH
          cd risc-v-sim
          cargo build
      - name: Download traces
        uses: actions/download-artifact@v4
        with:
          name: traces
          path: traces
      - name: Run tests
        run: |
          export PATH=~/.cargo/bin:$PATH
          export SIMULATOR_BINARY=./risc-v-sim/target/debug/risc-v-sim
          export AS_BINARY=riscv64-linux-gnu-as
          export LD_BINARY=riscv64-linux-gnu-ld
          cargo test --test "*" --locked -- --show-output
