name: Integration

on: [push, pull_request]

env:
  RUSTFLAGS: "-D warnings"
  RUSTDOCFLAGS: "-D warnings"
  RUST_BACKTRACE: "1"
  RUST_VERSION: "1.89.0"

jobs:    
  capture-traces: 
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/cache@v4
        id: cache-artifacts
        continue-on-error: false
        with:
          path: |
            riscv-samples/bin
            riscv-samples/traces
          key: ci-integration-samples-${{ hashFiles('riscv-samples/src/*', 'riscv-samples/cfg/*') }}
          restore-keys: ci-integration-cargo-
      - name: build and capture
        if: steps.cache-artifacts.outputs.cache-hit != 'true'
        run: |
          cd risc-v-sim
          cargo build
          cd ..
          cp risc-v-sim/target/debug/risc-v-sim ./riscv-samples
          docker run --rm --mount type=bind,src=./riscv-samples,dst=/ws krinkin/rv64-toolchain:latest make capture
      - name: Upload traces
        uses: actions/upload-artifact@v4
        with:
          name: traces
          path: ./riscv-samples/traces/*.json
  run-tests:
    runs-on: ubuntu-24.04
    needs: [capture-traces]
    services:
      mongodb:
        image: mongo:7
        env:
          MONGO_INITDB_DATABASE: riscv_sim_test
        ports:
          - 27017:27017
        options: >-
          --health-cmd "echo 'db.runCommand(\"ping\").ok' | mongosh localhost:27017/test --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      MONGODB_URI: mongodb://localhost:27017
      MONGODB_DB: riscv_sim_test
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Download traces
        uses: actions/download-artifact@v4
        with:
          name: traces
          path: traces
      - name: Build dockerfile
        run: |
          docker build -t meow .
      - name: Run integration tests
        run: |
          docker run --entrypoint "" --network=host meow cargo test --test "*" --locked -- --show-output
      - name: Check logs on failure
        if: failure()
        run: docker logs $(docker ps -a -q --filter "ancestor=meow" -n 1)
